*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(background.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box{
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}
.container::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transform: translate(490px,150px);
}
/*شريط القوائم*/
.container .box nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}
.container .box nav ul li{
    display: inline-block;
    padding: 0 20px;
    list-style: none;
}
.container .box nav ul li a{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #242329;
    transition: 0.3s
}
.container .box nav ul li a:hover{
    color: #7c8bd1;
}
.container .box nav .logo{
    font-size: 35px;
    color: #242329;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 20px;
}
.container .box .contains{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 200px;
}
.contains .section-1{
    position: relative;
    width: 40%;
}
.contains .section-1 h1{
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #242329;

}
.contains .section-1 h3{
    color: #6f34fe;
    margin-bottom: 10px;
    font-size: 30px;
}
.contains .section-1 p{
    font-size: 20px;
    color: #505052;
    margin-bottom: 50px;
}
.contains .section-1 .btn{
    padding: 15px 20px;
    background-color: #6f34fe;
    border: 1px solid #6f34fe;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 200px ;
}
.contains .section-1 .btn:hover{
    color: #6f34fe;
    transition: 0.3s;
    background-color: #cdddf3;
    border: 1px solid ;
    
}
.contains .section-2{
    width: 43%;
    margin-right: 90px;
}
.contains .section-2 img{
    width: 100%;
    margin-left: 90;
}
.contains .section-3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
}
.contains .section-3 a i{
    font-size: 25px;
    cursor: pointer;
    color: #7c8bd1;
    transition: 0.3s;
}
.contains .section-3 i:hover{
    color: #6f34fe;
}

.slider-wrapper {
	position:relative;
	max-width: 900rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio:16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
    margin-left: -10px;
    margin-right: -500px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}
.slider video {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 100%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
.container { 
    width: 100%; 
    height: 100vh; 
    position: relative; 
    display: flex; 
    background-color: #000000; 
    justify-content: center; 
    align-items: center; 
} 
  
.container .slider { 
    position: absolute; 
    top: 0; 
    left: 400px; 
    width: 100%; 
    height: 100%; 
} 
  
.container ul { 
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 20; 
} 
  
.container ul li { 
    list-style: none; 
    cursor: pointer; 
    margin: 10px; 
} 
  
.container ul li video { 
    width: 200px; 
    transition: all 0.3s; 
    
} 
  
.container ul li video:hover { 
    transform: scale(1.1); 
} 
  
.video { 
    width: 50%; 
    height: 50%; 
}